<header class="header">

    <div class="header__logo">
        <img src="{{ base_path }}{{ active_theme_path() }}/dist/img/logo.svg" alt="logo">
    </div>

    <div class="header__menu">
        {{ nav_principal }}
    </div>
    
</header>