/*-----------------------------
    VARIABLES
-----------------------------*/

// Colors
$primary_color: #93c1b6;
$white: #ffffff;
$black: #080808;

// Fonts
$size_font: 16px;
$primary_font: Arial, Helvetica, sans-serif;
