/*-----------------------------
    VARIABLES
-----------------------------*/

// Colors
$primary_color: #5b98ff;
$secondary_color: #b06fdd;
$white: #ffffff;
$black: #080808;
$text_color: #000000;

// Fonts
$size_font: 16px;
$primary_font: Arial, Helvetica, sans-serif;
