/*-----------------------------
    MIXINS
-----------------------------*/

@mixin btn {
  display: inline-block;
  background: linear-gradient(45deg, $primary_color, $secondary_color);
  cursor: pointer;

  a {
    padding: 10px 30px;
    color: $text_color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $primary_color;
    background-color: transparent;
  }
}
